* Whole document: */
@import url('https://fonts.googleapis.com/css?family=Abel:400|PT+Sans:400,700,700i,400i');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #ECD7CD!important;
   
}

*{
	 font-family: 'Abel', sans-serif;
}


a{
		text-decoration: none;

}
